<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AGTUTS Editor</title>
        <link rel="shortcut icon" href="icon.ico">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            img {
                width: 100%;
            }
        </style>
    </head>

    <body style="background-image:url(background.png); background-size: 100% 100%">
        <br><br>
        <script src="js/jquery-3.2.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        
        <div class="container">
            <!--<div class="row text-center">
                <div class="col-md-1 m-auto">
                <img src="icon.png" alt="logo" width="50" height="50">
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-6 m-auto" style="background-color:beige">
                    <h1 class="text-center display-4 my-4">Welcome to AGTUTS Editor</h1>

                </div>  
            </div>
            
        
        </div>
        
        
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto" style="background-color:beige">
                    <p class="text-center text-muted">© Copyright 2018 AGTuts</p>
                </div>  
            </div>
        </div>
    </footer>
    </body>
</html>